torch
transformers[sentencepiece]
transformers>=4.43.0
PyPDF2 
pymupdf
pdfplumber
# tabulate is needed to convert dataframe format into markdown format
tabulate 
pycryptodome
numpy
pandas
unidecode 
accelerate 
xlrd
matplotlib
seaborn
plotly 
s3fs
codecarbon
# For scraping only
beautifulsoup4
googlesearch-python




 



